/* Wrappers */
.wrapper {
    transition: all 0.4s ease;
    @include breakpoint(sm) { 
    	padding-left: 250px;
	}
    
    &.toggled {
	    padding-left: 250px;
	   	@include breakpoint(sm) { //sm = above 768 (see main.scss for mixin details)
		   	padding-left: 0
		}
	    
	    > .sidebar-wrapper {
	        width: 250px;
		    @include breakpoint(sm) { 
		   		width: 0;
		   	}
	    }
	    
	    > .page-content-wrapper {
		    position: absolute;
			margin-right: -250px;
			 @include breakpoint(sm) { 
			     position: relative;
			 	 margin-right: 0;
			 }
	    }
    }//&.toggled
    
}//.wrapper

.sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: $black;
    transition: all 0.4s ease;
    @include breakpoint(sm) { 
		width: 250px;
	}
}

.page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    
    @include breakpoint(sm) { 
		 padding: 20px;
         position: relative;
	}
}


/* Sidebar */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
   		text-indent: 20px;
   	 	line-height: 40px;	 
   	 	
   	 	a {
	   	 	display: block;
	   	 	text-decoration: none;
	   	 	color: $gray;
	   	 	&:hover {
		   		text-decoration: none;
		   		color: white;	
		   		background: darken($gray,5%);
	   	 	}
	   	 	&:active, &:focus {
		   	 	text-decoration: none;
	   	 	}
   	 	}   
    }
    > .sidebar-brand {
    	height: 65px;
	  	font-size: 18px;
	  	line-height: 60px;	
	  	a {
			color: $gray;	
			&:hover {
				color: white;
				background: none;
			}
	  	}    
    }
}

/* Navigation */
.menu-toggle {
	@include breakpoint(sm) { 
		display: none;
	}
}